
<div class="blogBody">
  <h2>Search</h2>

  {{input placeholder='search...' value=term class='searchBar'}}
  <button {{action 'search'}}>Search</button>
  <br>
  {{#each post in model}}
    {{#link-to 'post' post}}
      {{post.title}}
    {{/link-to}}
    <hr>
  {{/each}}
</div>
