<div id="title">
  {{#link-to 'posts'}}
    <h1>Hos Boss Blog</h1>
  {{/link-to}}
</div>

<div class="main">
  <hr><hr>
  {{#link-to 'posts.new'}}
    <h5>Create a post...</h5>
  {{/link-to}}
  <hr><hr>
  {{#link-to 'posts.search'}}
    <h5>Search the blog</h5>
  {{/link-to}}
  <hr><hr>
  {{#link-to 'posts'}}
    <h5>Posts</h5>
  {{/link-to}}
  <hr><hr>
  {{#link-to 'users'}}
    <h5>Users</h5>
  {{/link-to}}
  <hr><hr>

</div>

{{outlet}}
