<div class="main">

{{#link-to 'posts.new'}}
  <h5>Create a post...</h5>
{{/link-to}}
<hr><hr>
{{#link-to 'posts.search'}}
  <h5>Search the blog</h5>
{{/link-to}}
<hr><hr>

{{#each post in model}}
<div class="post">
  {{#link-to 'post' post}}
    {{post.title}}
  {{/link-to}}
  <hr>
</div>
{{/each}}

</div>

{{outlet}}
